body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
}
a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
header{
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(6, 6, 89);
    padding-top: 15px;
}

/* to design logo and company name at the header section */
header >a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 20%;
}

header a img{
    width: 30%;
    border-radius: 50%;
}
header nav a{
    margin: 0 10px;
}
header nav a:focus{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

header button{
    border: none;
    background-color: transparent;
    height: 23px;
    display: none;
}
header button img{
    height: 100%;
}

.get-started{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-right: 20px;
}
.get-started a{
    color: black;
}

/* main section containing everything */

.intro{
    background-image: url(./images/new.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.welcome{
    width: 60%;
    color: white;
    padding: 5% 8%;
    line-height: 2;
    /* margin: 15px;  */
}
.welcome a{
    padding: 10px;
    /* margin: 205px 15px; */
    /* margin-top: 50px; */
    border: 1px dotted white;
}
.note{
    width: 120%;
    font-size: 14px;
    margin: 15px;
}
.read-more{
    margin-right: 70px;
    background-color: white;
    color: black;
}
.welcome h3{
    color: rgb(0, 187, 255);
    font-size: 15px;
}
.welcome h1{
    font-size: 20px;
    /* font-style: oblique; */
}

.summary{
    width: 90%;
    margin: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    margin-left: 70px;

}

.first-part{
    margin: 30px;
    background-color: rgb(243, 243, 243);
    width: 30%;
    color: black;
    text-align: center;
    padding: 15px;
}

.first-part img{
    width: 35px;
}
.first-part h3{
    font-size: 12px;
}
.first-part p{
    font-size: 10px;
}



/* second section about */
.about{
    background-color: rgb(239, 230, 230);
    height: 60vh;
    display: flex;
    width: 100vw;
}
.cyber{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 15px;
}
.cyber img{
    width: 80%;
    margin: 15px;
}
.about-us{
    padding: 35px;
    width: 40%;
    margin: 15px;
}
.about-us h3{
    font-size: 15px;
    color: rgb(0, 187, 255);
}
.about-us h1{
    font-size: 16px;
}
.about-us p{
    font-size: 13px;
    font-style: oblique;
}
.about-us .note1 a{
    padding: 15px;
    margin-top: 10px;
    background-color: white;
}

/* third section services section */
.services{
    height: 100vh;
    background-image: url(./images/danger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 10px;
}
.services h3:first-child{
    color: rgb(0, 187, 255);
}
.main1{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.services-main{
    margin: 5px;
    background-color: white;
    width: 25%;
    color: black;
    text-align: center;
    padding: 5px;
}
.services-main img{
    width: 35px;
}

/* why the best section */
.why-best{
    height: 80vh;
    display: flex;
    padding: 15px;
}
.best-image{
    width: 50%;
    text-align: center;
}
.best-image img{
    width:60%;
    margin: 25px;
   
}
.bestbest{
    width: 50%;
    padding: 15px;

}
.bestbest h3{
    color: rgb(0, 187, 255);
    font-size: 16px;
}
.bestbest h4{
    font-style: oblique;
    font-size: 16px;
}



/* foooter */
footer{
    background-color: rgb(32, 32, 68);
    border-radius: 0 80px 0 80px;
}
.main-footer{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    
    color: white;

}
.footer-image{
    width: 25%;
    text-align: center
    
}
.footer-image h3{
    font-size: 16px;
}
.footer-image p{
    font-size: 12px;
    font-style: oblique;
}
.footer-image img{
    width: 40%;
    border-radius: 50%;
}
.get-in-touch{
    width: 25%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.get-in-touch a ion-icon{
    margin-right: 15px;
}

.quick-links{
    width: 25%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.social-links{
    width: 25%;
    padding: 15px;
    display: inline-block;
}
.social-links a ion-icon{
    height: 10%;
    width: 10%;
    padding: 2%;
    border-radius: 50%;
    background-color: rgb(7, 69, 7);
}
.terms{

    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    color: white;
    border-top: 1px solid white;
    font-size: 11px;
}
.container {
    max-width: 50%; /* Limit the width of the container */
    margin: 15px;
    margin-left: 20px;
  }
  .container p{
    margin: 0;
  }
  .privacy-policy a{
    color: rgb(0, 187, 255);
    font-size: 11px;
  }

/* media query */
@media(max-width:660px){
    header button{
        display: block;
    }
    header nav{
        position: fixed;
        width: 270px;
        left: -350px;
        top: 0;
        height: 80vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px;
        transition: left 0.4s ease-in-out;
    
    }
    header nav.active{
        left:0px
    }
    header nav a{
        color: black;
    }
    .intro{
        height: 100vh;
    }
    .summary{
       display:block;
       width: 100%;
    
    }
    .first-part{
        width: 50%;
    }
    .about{
        height: 55vh;
    }
    .cyber{
        width: 100%;
        display: block;
    }
    .cyber img{
        margin: 0;
        width: 100%;
        height: 40vh;
    }
    .about-us{
        padding: 0;
        width: 80%;
        margin: 0px;
      
    }
    .about-us h1{
        font-size: 15px;
    }
    .read-more{
       margin: 0;
    }
    .main1{
        display: block;
        width: 100%;
        padding: 0;
        
    }
    .services{
        height: 155vh;
    }
    .services-main{
        width: 50%;
        margin: 8px auto;
    }
    .services h3{
        font-size: 12px;
    }
    .services h1{
        font-size: 12px;
    }
    .services p{
        font-size: 10px;
    }
}
@media(max-width:500px){
    .intro{
        width: 100%;
        height: 60vh;
    }
    .welcome{
        width: 80%;
        height: 90%;
        line-height: 1.5;
    }
    .summary{
        width: 70%;
        margin: 15px;
        /* padding: 15px; */
    }
    .about{
        height: 55vh;
    }
    .cyber{
        width: 100%;
        display: block;
    }
    .cyber img{
        margin: 0;
        width: 100%;
        height: 15vh;
    }
    .about-us{
        padding: 0;
        width: 80%;
        margin: 0px;
      
    }
    .about-us h1{
        font-size: 12px;
    }
    .about-us p{
        font-size: 11px;
    }
    .read-more{
       margin: 0;
       font-size: 12px;
    }
    .welcome h1{
        font-size: 15px;
    }

    .welcome p{
        font-size: 12px;
    }
    .first-part{
        width: 60%;
        margin: 5px auto;
    }
    .main1{
        display: block;
        width: 100%;
        padding: 0;
        
    }
    .services{
        height: 200vh;
        text-align: center;
    }
    .services-main{
        width: 60%;
        margin: 5px auto;
    }
    .services h3{
        font-size: 12px;
    }
    .services h1{
        font-size: 12px;
    }
    .services p{
        font-size: 10px;
    }
    
    /* Why choose us section */
    .best-image img{
        width: 100%;
        margin: 25px 0;
    }
    .bestbest h3{
        font-size: 14px;
    }
    .bestbest h2{
        font-size: 14px;
    }
    .bestbest h4{
        font-size: 13px;
    }
    .bestbest p{
        font-size: 11px;
    }

    /* footer */
    .main-footer{
        display: inline-block;
    }
    .footer-image, .get-in-touch, .quick-links, .social-links{
        width: 100%;
    }
    .get-in-touch, .quick-links{
        gap: 15px;
    }
    .main-footer{
        padding: 0px;
    }
    .social-links a ion-icon{
        height: 5%;
        width: 5%;
        padding: 1%;
    }

}