body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(6, 6, 89);
}
a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
header{
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(6, 6, 89);
    padding-top: 15px;
}

/* to design logo and company name at the header section */
header >a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 20%;
}

header a img{
    width: 30%;
    border-radius: 50%;
}
header nav a{
    margin: 0 10px;
}

header button{
    border: none;
    background-color: transparent;
    height: 23px;
    display: none;
}
header button img{
    height: 100%;
}

.get-started{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-right: 20px;
}
.get-started a{
    color: black;
}

/* main section containing everything */

.intro{
    background-image: url(./images/new.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.welcome{
    border: 2px solid red;
    width: 60%;
    color: white;
    padding: 5% 8%;
    /* margin: 15px;  */
}
.welcome a{
    padding: 10px;
    /* margin: 205px 15px; */
    /* margin-top: 50px; */
    border: 1px dotted white;
}
.note{
    width: 100%;
    font-size: 14px;
    border: 2px solid red;
}
.read-more{
    margin-right: 70px;
    background-color: white;
    color: black;
}
.welcome h3{
    color: rgb(0, 187, 255);
    font-size: 15px;
}
.welcome h1{
    font-size: 20px;
    /* font-style: oblique; */
}

.summary{
    width: 100%;
    border: 2px solid black;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;

}

.first-part{
    margin: 30px;
    background-color: white;
    width: 20%;
    color: black;
    text-align: center;
    padding: 15px;
}

.first-part img{
    width: 35px;
}
.first-part h3{
    font-size: 12px;
}
.first-part p{
    font-size: 10px;
}



/* second section about */
.about{
    background-color: rgb(239, 230, 230);
    height: 90vh;
}

/* third section services section */
.services{
    height: 90vh;
    background-image: url(./images/danger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width:660px){
    header button{
        display: block;
    }
    header nav{
        position: fixed;
        width: 270px;
        left: -350px;
        top: 0;
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px;
        transition: left 0.4s ease-in-out;
    
    }
    header nav.active{
        left:0px
    }
    header nav a{
        color: black;
    }
    .summary{
        /* display: none; */
    }
}